.bg-lime-green {
  background-color: #20cd4a;
}

.bg-3d-gradient {
  background: linear-gradient(135deg, #20cd5b, #20cd39);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}

.nav-link {
  color: white !important; 
  border-radius: 5rem;
}

.nav-link:hover {
  background-color: rgba(24, 71, 6, 0.5);
  border-radius: 5rem;
}

.logo-image {
  width: 9rem; 
  height: auto; 
}

@media (max-width: 769px) {
  .navbar-nav-center {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
  }
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.banner-logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .banner-logo {
    max-width: 80%;
  }
}

.footer-left {
  flex: 1;
}

.footer-right {
  justify-content: flex-end;
}

.footer-link{
  margin-right: 0.8rem;
}

.bigger-card {
  margin-top: 4rem;
  width: 50rem; /* Adjust the width as needed */
  height: 35rem; /* Adjust the height as needed */
  border: 0.8rem solid #11c659; /* Border color */
  box-shadow: 0px 0px 3rem rgba(34, 180, 12, 0.2); /* Shadow */
  padding: 20px;
}

.profile-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-text {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}

.profile-head {
  font-size: 2rem; /* Adjust the font size as needed */
  margin-bottom: 1rem;
}
