@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@1,500&display=swap');



/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./images/bg.png'); /* Adjust the path as needed */
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Archivo', sans-serif !important;
}